@charset "UTF-8";

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #C0BEC4;
}

a{
    text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline;
	opacity: 0.8;
}

.header {
    background-color: #6A2469;
    color: white;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
	align-items: center;
    gap: 2rem;
}

.header .search{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header .logo img{
	width: 100px;
	border-radius: 50%;
}

.header .logo img:hover{
	opacity: 0.8;
	cursor: pointer;
}

.header .panier{
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
}
.header .panier img:hover{
	opacity: 0.8;
	cursor: pointer;
}


.header .panier img{
	width: 40px;
}

.sidebar{
	background-color: #3A1541;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 125px;
}

.sidebar ul{
	list-style-type: none;
	padding: 0 1rem;
	margin: 0;
}

.sidebar li{
	margin-bottom: 0.75rem;
}

.main-container {
    flex: 1;
    display: flex;
    background-color: #C0BEC4;
}

.footer {
    background-color: #010001;
    color: white;
    padding: 1rem;
	text-align: right;
}

.header .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.header .search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #3A1541;
    border-radius: 5px;
    font-size: 16px;
    color: #3A1541; 
    background-color: #f9f9f9;
    outline: none;
    transition: all 0.3s ease;
}

.header .search-input:focus {
    border-color: #6A2469; 
    background-color: #fff;
}

/* Style for the search button */
.header .search-button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #6A2469;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .search-button:hover {
    background-color: #8B2B8F; 
}
.error-message{
	color: #800000;
}