@charset "UTF-8";

.content {
	flex: 1;
}
.validation-message{
	margin-left: 50px;
	color: #6A2469;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin:2rem;
}

.product-card {
    border: 1px solid #888;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    background-color: #f0f0f0;
}

.product-card img {
    width: 250px;
	height: 300px;
	max-width: 100%;
	max-height: 100%;
}

.price {
    color: #6A2469;
    font-weight: bold;
    font-size: 1.2rem;
}

.add-to-cart {
    background-color: #6A2469;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #3A1541;
}

.resultat-title{
	color: #6A2469;
	margin-left: 50px;
}
